
{% extends 'ecommerce/includes/base.html' %}


{% block title %}My Account | ShopEasy{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="container">
        <div class="account-header">
            <h1>My Account</h1>
            <p class="welcome-message">Welcome back, John Doe!</p>
        </div>

        <div class="dashboard">
            <!-- Sidebar Navigation partial -->
            {% include 'ecommerce/includes/sidebar.html' %}
           

            <!-- Account Content partial -->
           {% include 'ecommerce/includes/Content.html' %}
    </div>
</div>
</main>
{% endblock %}
